

body {
    background-color: #eee;
}

header {
    background-color: #eee;
    display: inline-block;
    position: sticky;
    top: 0;
    
}

nav a {
    margin: 20px 40px;
    text-decoration: none;
    color: black;
    display: inline-flex;
    flex-direction: column;
}

.features {
    display: grid;
    grid-template-columns: 1fr 6fr;
    width: 75%;
    margin: auto;
    
}

.feature-icon {
    width: 75%;
    height: 1fr;
    margin: 10px 10px 10px 10px;
    display: flex;
    
}

.icons {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: auto;
    align-items: center;
}

.feature-copy {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.feature-paragraph {
    margin-top: 10px;
    margin-bottom: 10px;
}

.feature-paragraph {
    margin-top: 10px;
    margin-bottom: 10px;
}

.Pricing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    width: 75%;
    margin: auto;
    margin-bottom: 50px;
}

.pricing-element {
    width: 80%;
    margin: auto;
    border: 1px solid black;
    padding: 0x;
    text-align: center;

}

.pricing-element h3 {
    width: auto;
    background-color: #ddd;
    height: 100%;
    margin: 0px;
    padding: 10px;
}

.prices {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

input[type="button"] {
    margin-bottom: 10px;
    font: 400 13.3333px Arial;
}

input[value="Select"] {
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
}

.footer {
    background-color: #ddd;
    grid-template-rows: auto auto;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}

.footer p {
    margin-right: 10px;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.copyright {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 0px;
    padding-bottom: 20px;
}

ul {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
    list-style-type: none;
}

li {
    margin-right: 10px;
    margin-left: 10px;
}


h1 {
    text-align: center;
}

form {
    text-align: center;
}

#email {
    width: 20%;
}

#submit {
    width: 10%;
    margin-top: 10px;
    background-color: orange;
}


#nav-bar {
    float: right;
}

#logo {
    max-width: 30%;
    height: auto;
    margin-left: 20px;
    margin-top: 20px;
}